<!-- {% extends "layout.html" %} -->

{% block content %}
{% for new in News %}

<div class= "articles">
    <!-- Titre -->
    <!-- <h1 class="align_centre">{{new[1]}}</h1> -->
    <h3 class="align_centre">titre_temp</h3>
    <!-- Date publication -->
    <!-- <h3 class="align_right">{{new[2]}}</h3> -->
    <h6 class="align_right">date_temp</h6>

    <!-- Description -->
    <!-- <h3 class="align_left">{{new[4]}}</h3> -->
    <h3 class="align_left">description_temp</h3>
    <!-- {% for flu in Flux %} -->
        <!-- <h3 class="align_left">{{src}}</h3> -->
        <!-- <h3 class="align_left">flux_temp</h3>
    {% endfor %} -->

    <!-- {% for flu in Flux %}
    <h3 class="align_left">&#128512;</h3> 
    <select class="articles select_lu align_left">
        {% if (flu[4] == True) %} 
        <option value =True selected>Lu</option> 
        <option>Non lu</option>
        {% else %}
        <option value=False selected>Non lu</option>
        <option>Lu</option>
        {% endif %}
    {% endfor %}  -->
 <!-- </select> -->
    <!-- Lien -->
    <!-- <a class="align_right" href='{{new[3]}}'> lien</a> -->
    <a class="link_right" href="lol"> lien</a>
</div>
<!-- <a href="{{ url_for('get_home') }}">Add new</a> -->

{% endfor %}
{% endblock content %}

{% block SearchBar %}

<!-- Autocompletion pour recherche par mots clef -->
<!-- <label for="Tags">Choisissez un Tag:</label>
<input list="Tags"/>

<datalist id="Tags">
    <option value="Chocolate">
    <option value="Coconut">
    <option value="Mint">
    <option value="Strawberry">
    <option value="Vanilla">
</datalist> -->
<!-- <a href="{{ url_for('get_home') }}">Add new</a> -->

{% endblock SearchBar %}

{% block Remove_Flux %}

    <!-- <form method="POST"> -->
    {% for flu in Flux %}
    <h3 class="align_centre">
        <button onclick="window.location.href = '{{ url_for('get_home') }}';" value={{flu[2]}} type="submit">X</button>         {{flu[2]}}
    </h3>
    {% endfor %}

    <!-- </form> -->

{% endblock Remove_Flux %}