<!-- <!DOCTYPE html> -->
<!-- <html> -->
<head>
  <title>Inscription</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/css/inscription.css">
</head>
<!-- <body> -->
{% block bootstrap_2 %}
  <form action="/action_page.php" method="post">
    <div class="inscontainer">
      <h2>INSCRIPTION</h2>
      <img alt="" class="inc">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
          
      <button type="submit">Enter</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
{% endblock bootstrap_2 %}
<!-- </body> -->
<!-- </html> -->