body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 97.5vh;
  align-items: center;
  background: #A752CE;
  background: -moz-linear-gradient(top, #A752CE 0%, #1C6EA4 50%, #1EC5B4 100%);
  background: -webkit-linear-gradient(top, #A752CE 0%, #1C6EA4 50%, #1EC5B4 100%);
  background: linear-gradient(to bottom, #A752CE 0%, #1C6EA4 50%, #1EC5B4 100%);
}

/* Full-width input fields */
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: lightgray;
  border-radius: 4px;
}
/* Select items */
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-display: swap;
  border-radius: 5px;
}
/* Set a style for all buttons */
button {
  background: #3FB8FF;
  background: -moz-linear-gradient(left, #3FB8FF 0%, #258CD0 50%, #4BCBFF 100%);
  background: -webkit-linear-gradient(left, #3FB8FF 0%, #258CD0 50%, #4BCBFF 100%);
  background: linear-gradient(to right, #3FB8FF 0%, #258CD0 50%, #4BCBFF 100%);
  color: white;
  padding: 14px 20px;
  margin: 28px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  font-size: 15px;
}

button:hover {
  opacity: 0.8;
}

.content {
  position: fixed;
  background: rgba(0, 0, 0, 0.171);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  transform: translate(-8px, -7px);
}

/* Extra styles for the cancel button */
.cancelbtn {
  background: #FF0000;
  background: -moz-linear-gradient(left, #FF0000 0%, #990000 74%, #7E0000 100%);
  background: -webkit-linear-gradient(left, #FF0000 0%, #990000 74%, #7E0000 100%);
  background: linear-gradient(to right, #FF0000 0%, #990000 74%, #7E0000 100%);
  width: auto;
  padding: 10px 18px;
  border-radius: 4px;
  /* background-color: #f44336; */
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
  font-weight: bold;
  font-size: larger;
}

img.avatar {
  width: 40%;
  border-radius: 50%;

}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.308); /* Black w/ opacity */
  padding-top: 55px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 3px solid #f1f1f1;
  width: 40%; /* Could be more or less, depending on screen size */
  border-radius: 4px;
  transform: translate(0px, -159px);
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}